@use "./values" as v;
@use "./mixins/transitions" as t;

html {
	font-size: calc(v.$BaseSize * 4);
}

a {
	color: v.$Primary;
	margin-right: calc(v.$BaseSize * 3);

	font-size: 0.9rem;
	font-weight: 600;

	border-radius: v.$BaseSize;
	padding: calc(v.$BaseSize * 2) calc(v.$BaseSize * 3.5);

	position: relative;
	bottom: 0;

	@include t.EaseOutExpo;

	&:hover {
		color: v.$CreamWhite;
		background-color: v.$Primary;

		bottom: calc(v.$BaseSize / 2);
		border-radius: calc(v.$BaseSize * 1.25);
	}

	&:last-of-type {
		margin-right: 0;
	}
}

input {
	color: v.$Primary;

	font-size: 0.9rem;
	padding: calc(v.$BaseSize * 2) calc(v.$BaseSize * 3.5);

	border: calc(v.$BaseSize / 2) dashed v.$Primary;
	border-radius: calc(v.$BaseSize * 2);

	@include t.EaseOutExpo;

	&::placeholder {
		font-weight: 600;
	}
}