// Numeric Values
$BaseSize: 4px;
$AnimationDuration: 190ms;

// Generic Palette
$CreamWhite: rgb(250, 250, 250);

// Brand Palette
$NovalyzeGrey: rgb(237, 231, 246);
$NovalyzeViolet: rgb(69, 39, 160);

// From index.css
$Primary: #7b42b3;
$Secondary: #eba6ff;
$Complimentary: #506cff;